<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutChangesToGlobalState="true"
	failOnRisky="true"
	failOnWarning="true"
	cacheDirectory=".phpunit.cache">
	<testsuites>
		<testsuite name="FreshVibes">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix=".php">Models</directory>
		</include>
	</source>
</phpunit>
